@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --rounded-box: 0.5em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 220, 220, 220;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --rounded-box: 0.5em;
  }
}

/*:root {*/
/*  --background: #ffffff;*/
/*  --foreground: #171717;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

.border-b-1 {
  border-bottom-width: 1px;
  border-bottom-color: oklch(var(--bc)/0.3);
}

body {
  color: var(--foreground-rgb);
  background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb));
  font-family: Arial, Helvetica, sans-serif;
}
